.wrapper {
  width: 800px;
  margin: auto;
}

.wrapper .bg_green {
  background: green;
  overflow: auto;
}

.wrapper .bg_green .black_box {
  width: 150px;
  height: 150px;
  float: left;
  margin: 15px;
}

.wrapper .bg_green .black_box.farst {
  margin-left: 160px;
}

.wrapper .bg_green .black_box.other {
  margin-left: 0%;
}

.wrapper .bg_green .item {
  float: left;
  height: 245px;
  margin: 15px;
}

.wrapper .bg_green .item.red_box {
  background: red;
  width: 180px;
}

.wrapper .bg_green .item.red_box .black_box{
  float: none;
  padding: 0px;
}

.wrapper .bg_green .item.red_box .bottom_box {
  background: brown;
  height: 50px;
  margin: 15px;
}

.wrapper .bg_green .item.orange_box {
  background: orange;
  width: 545px;
  height: 215px;
  margin-left: 0px;
  padding: 15px;
}
